# ENV files
.env
.env.local
.env.production.local
.env.development.local
.env.test.local 

# Node modules
node_modules

# Vite output
.vite
dist

# Compile output 
.compiled

# Test coverage
coverage

# Nessy CLI wrapper
nessy
nessy.cmd
